
@import url('https://fonts.googleapis.com/css?family=Italiana');
* {
    font-family: 'Italiana', sans-serif;
    font-size: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

html, body {
    height: 100px;
    margin: 0;
}

body {
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
}

header a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

header a:hover {
    background-color: rgb(50, 50, 50);
    
}

/** RSPONSIVE**/
/*Mobile**/
@media screen and (max-width:600px) {
    section {
        flex-wrap: nowrap;
        flex-direction: column;
        
    }
    section a {
        width:80%;
    
    }
    }
    /*Tablet*/
    @media only screen and (min-width:600px) and (max-width: 900px) {
        section a { width: 40%;}
    }